div.menu-container(class="basicmenucontainer {{setup.class}}", data-role="navbar", data-type="horizontal")
ul
    {{#menuitems}} 

        li

            a(id='{{id}}', data-iconpos='{{jqm.dataiconpos}}',data-corners="false", data-shadow="false", data-icon='{{jqm.dataicon}}', data-mini='{{jqm.datamini}}', href='{{route}}', class='pliik-menu-item-mobile {{cssclass}}', data-role="button", data-inline="true", data-theme='{{jqm.datatheme}}') {{title}} 

    {{/menuitems}}

<!-- /navbar -->

