/* 
    Document   : style
    Created on : 12/Jul/2012, 4:17:45
    Author     : philip
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background-image: url(Blue_wave_of_water-wide.jpg);
    /* background-attachment: fixed; */
    font-size: 140%;
    margin:5%;
    
    color: FloralWhite;
    text-shadow: 1px 1px 1px #000000;
    
}

.footer {
    
    padding-top: 2em;
    padding-bottom: 2em;    
    
}

a {
    
    color: yellow;
    font-weight: bold;
    
}

.navbar {
    
    font: bold 65% sans-serif;    
    padding: 0px;
    left: 78%;
    width: 25%;
    
}

.navbar span{
    
    font-size: 120%;
    padding: 0em !important;
    
}

span.text {}

.listing, 
.ltx_lstlisting, 
.ltx_lst_language_Java {
    background-color: #000000;
    font-family: terminal;
    font-size: 75%;
    padding: 0.5em; 
    line-height: 200%;
}

.listing .text{
    color: white;
}
.ltx_lst_space{}

.listing .italic{}

