style
    {{css}}

div#container.container-template-main

    div#columcontainer.columcontainer-template-main

        div#contentcontainer.contentcontainer-template-main

            div#topmenu.menu

            div#page(data-role="content")

            div#langmenu.menu

            div#footer