style
    {{css}}
div#container.container-template-main
    div#logo
    div#menu
        ul
            li
                a(href="#") Home
            li
                a(href="#/users/signup") Signup   
            li
                a(href="#/users/login") Login       
            li
                a(href="#/projects") Project List
            li
                a(href="#/users") User List
            li
                a(href="#/content/opensource") Open Source

    div#page
        p Loading....

    div#footer
        p pliik.com