div#login-container
    form#login
        div Username
            div
                input#username (name='username', type='text')
        div Password
            div
                input#password (name='password', type='password')
        div
            input#submit(value="Submit", name='submit', type='submit')

