div#signup-container
    div Username
        div
            input#username (name='username', type='text')
    div Password
        div
            input#password (name='password', type='password')
    div
        button#signupButton signup

