h1 Pliik is a Web OS.
p Powered by Javascript.

h1 Pliik is Open Source
p This project is realeased under GPLv3 license, you can download the source code at 
    a(href="https://github.com/freedomson/pliik", target="_blank") GitHub
    .
p In order to report a issue please use GitHub 
    a(href="https://github.com/freedomson/pliik/issues", target="_blank") Issue Platform
    .

p 
    a.reset-css-link(href="http://www.gnu.org/licenses/gpl.html", target="_blank")
        img(src="pic/gplv3.png")


h1 Tutorials
ul
    li
        h2 
            Pliik Developer Guide
        a(href="tutorial/pliik-developer-guide/html/index.html", target="_blank") (html)
        &nbsp;
        a(href="tutorial/pliik-developer-guide/pdf/pliik-developer-guide.pdf", target="_self") (pdf)


h1 Powered by

h2 
    API
ul

    li
        a(href="http://www.netmagazine.com/features/20-svg-uses-will-make-your-jaw-drop", target="_blank") SVG
        ul
            li
                a(href="http://www.svgbasics.com/text2.html", target="_blank") SVG Basics

    li
        a(href="http://webification.com/12-javascript-loaders-to-speed-up-your-web-applications", target="_blank") AMD Loaders

    li
        a(href="http://jquerymobile.com/demos/1.1.0/", target="_blank") jQuery mobile
        
        ul
            li
                a(href="http://www.marcofolio.net/webdesign/advanced_jquery_background_image_slideshow.html", target="_blank") Slide background
    li
        a(href="http://raphaeljs.com/reference.html", target="_blank") Raphael

        ul
            li
                a(href="http://net.tutsplus.com/tutorials/javascript-ajax/an-introduction-to-the-raphael-js-library/", target="_blank") Introduction
    li
        a(href="http://documentcloud.github.com/backbone/", target="_blank") Backbone
    li
        a(href="http://documentcloud.github.com/underscore/", target="_blank") Underscore
    li
        a(href="http://requirejs.org/docs/api.html", target="_blank") Requirejs

    li

        h3 Documentation

        ul
            li
 
                a(href="http://latex.computersci.org/Reference/TextBoxes", target="_blank") LATEX

    
                ul
                    li
                        a(href="http://dlmf.nist.gov/LaTeXML/manual/", target="_blank") LaTeXML

                ul
                    li
                        a(href="http://en.wikibooks.org/wiki/LaTeX/Packages/Listings", target="_blank") Listings

                ul
                    li
                        a(href="http://www.artofproblemsolving.com/Wiki/index.php/LaTeX%3aLayout#Paragraphs", target="_blank") F.A.Q.


br
p More at:

a(href="https://www.ohloh.net/p/pliik", target="_blank") http://www.ohloh.net/p/pliik





br
br

P Sincerely, The Developer Team

