p This project is realeased under MIT license, you can download the source code at 
    a(href="https://github.com/freedomson/pliik", target="_blank") GitHub
        .
p In order to report a issue please use GitHub 
    a(href="https://github.com/freedomson/pliik/issues", target="_blank") Issue Platform
        .

P Sincerely, The Pliik Team



