p This project is realeased under GPLv3 license, you can download the source code at 
    a(href="https://github.com/freedomson/pliik", target="_blank") GitHub
        .
p In order to report a issue please use GitHub 
    a(href="https://github.com/freedomson/pliik/issues", target="_blank") Issue Platform
        .

h2 Tutorials
    ul
        li
            a(href="http://www.pliik.com/tutorial/pliik-developer-guide/html/index.html", target="_blank") Pliik Developer Guide


P Sincerely, The Developer Team

p 
    a.reset-css-link(href="http://www.gnu.org/licenses/gpl.html", target="_blank")
        img(src="pic/gplv3.png")